{% extends 'master.html' %}
{% block content %}
<div class="container pt-60 pb-60">
  <h2>{{ blog.title }}</h2>
  <p><strong>By:</strong> {{ blog.author }} | <strong>Date:</strong> {{ blog.created_at|date:"d M Y" }}</p>
  {% if blog.image %}
    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="max-width:100%;">
  {% endif %}
  <div class="pt-3">
    {{ blog.content|linebreaks }}
  </div>
  <a href="{% url 'blog_list' %}" class="btn btn-primary mt-4">← Back to Blog List</a>
</div>
{% endblock %}
